[submodule "book/external/Nested-Books"]
	path = book/external/Nested-Books
	url = https://github.com/TeachBooks/Nested-Books.git
[submodule "book/external/template"]
	path = book/external/template
	url = https://github.com/TeachBooks/template.git
[submodule "book/external/deploy-book-workflow"]
	path = book/external/deploy-book-workflow
	url = https://github.com/TeachBooks/deploy-book-workflow.git
[submodule "book/external/latex-to-markdown-conversion"]
	path = book/external/latex-to-markdown-conversion
	url = https://gitlab.tudelft.nl/opentextbooks/latex-to-markdown-conversion.git
[submodule "book/external/Useful_python_code"]
	path = book/external/Useful_python_code
	url = https://github.com/TeachBooks/Useful_python_code.git
